@charset "utf-8";

/**************************************index.html*************************************************/
.floorNav {
	display: none;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -654px;
    margin-top: -154px;
    width: 44px;
    height: 308px;
    overflow: hidden;
    z-index: 6;
}
.floorNav li{
	width: 44px;
    height: 44px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.floorNav li .floor {
	position: absolute;
	top: 0;
	left: 0;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 42px;
    line-height: 42px;
    background: #fafafa;
    color: #c1c1c1;
    text-align: center;
}
.floorNav li p {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 21;
    border: 1px solid #d9000e;
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
    width: 0;
    height: 37px;
    background: #d9000e;
    color: #fff;
}
    

.banner {
	position: relative;
	height: 452px;
}
.banner .img {
	z-index: 999;
	position: absolute;
	top: 0;
	right: 109px;
	width: 190px;
	height: 429px;
}
.banner ul.contain{
	position: relative;
}
.banner ul.contain li {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 452px;
}
.banner ul.contain li.current {
	opacity: 1;
}
.banner ul.contain li:nth-child(1) {
	background: #6661F1 url(../img/banner1.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(2) {
	background: #B32523 url(../img/banner2.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(3) {
	background: #000 url(../img/banner3.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(4) {
	background: #C2C8D6 url(../img/banner4.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(5) {
	background: #FDE2CF url(../img/banner5.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(6) {
	background: #DEF5D9 url(../img/banner6.jpg) no-repeat center;
}
.banner ul.contain li:nth-child(7) {
	background: #000 url(../img/banner7.jpg) no-repeat center;
}
.main .liquor .slide .circle,
.banner .circle {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 20px;
	text-align: center;
}
.main .liquor .slide span,
.banner .circle span {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #000;
	opacity: 0.6;
	color: #fff;
	line-height: 20px;
	margin-left: 5px;
	cursor: pointer;
}
.main .liquor .slide span {
	width: 10px;
	height: 10px;
	background: #333;
	opacity: 1;
}
.main .liquor .slide span.active,
.banner .circle span.active {
	background: #C40000;
}
.main .main-t {
	height: 1091px;
	background: url(../img/bg01.jpg) no-repeat center;
}
.main .main-t .slideAd {
	position: relative;
	top: 5px;
	padding-top: 15px;
}
.main .liquor .slide .arrow,
.main .main-t .slideAd_contain .arrow {
	z-index: 99;
	position: absolute;
	top: 50%;
	margin-top: -34px;
	width: 28px;
	height: 68px;
	background: #000;
	opacity: 0.6;
	color: #fff;
	text-align: center;
	font: 700 24px/68px "";
}
.main .main-t .slideAd_contain .arrow:hover {
	opacity: 9;
}
.main .liquor .slide .arrow_r,
.main .main-t .slideAd_contain .arrow_r {
	right: 0;
}
.main .main-t .slideAd .slideAd_contain {
	position: relative;
}
.main .main-t .slideAd .slideAd_contain .contain {
	width: 988px;
	overflow: hidden;
}
.main .main-t .slideAd .slideAd_contain .contain ul {
	width: 300%;
}
.main .main-t .slideAd .slideAd_contain li{
	float: left;
}
.main-t .flashBuy .title {
	height: 40px;
	color: #fff;
}
.main-t .flashBuy .title h4 {
	display: inline-block;
	font: 700 16px/40px "";
}
.main-t .section .title span ,
.main-t .flashBuy .title span {
	position: relative;
	top: 2px;
	font: 18px/40px "";
}
.main-t .flashBuy .left ul {
	background: #fff;
	height: 231px;
}
.main-t .flashBuy .left li {
	float: left;
	width: 185px;
	border-right: 1px solid #ddd;
	color: #666;
} 
.main-t .flashBuy .left li img {
	height: 130px;
}
.main-t .flashBuy .left li .intro {
	padding-left: 20px;
}
.main-t .flashBuy .left li .intro .price {
	font: 700 16px/22px "";
	color: #C40000;
}
.main-t .flashBuy .left li .intro span {
	display: block;
}
.main-t .flashBuy .left li .goods {
	padding: 5px 0 15px 0;
	text-align: center;
	
}
.main-t .flashBuy .left li .good_title {
	width: 155px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font: 12px/22px "";
	color: #333;
}
.main-t .flashBuy .right {
	width: 255px;
	margin-left: 10px;
}
.main-t .flashBuy .right ul {
	background: #fff;
}
.main-t .flashBuy .right ul li {
	padding-top: 10px;
}
.main-t .flashBuy .right ul li span {
	position: relative;
	top: 2px;
	float: left;
}
.main-t .flashBuy .right ul li a {
	float: left;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 28px;
    color: #999;
    line-height: 28px;
}
.main-t .flashBuy .right ul li.img {
	text-align: center;
	margin-bottom: 5px;
}
.main-t .flashBuy .time {
	position: relative;
	height: 24px;
	overflow: hidden;
}
.main-t .flashBuy .time b{
	position: absolute;
	height: 48px;
	width: 20px;
}
.main-t .flashBuy .time b span{
	display: block;
}
.main-t .floor_banner a {
	float: left;
	width: 400px;
	padding-top: 18px;
	height: 139px;
}
.main-t .section {
	width: 100%;
}
.main-t .section .title {
	color: #fff;
}
.main-t .section .title b,
.main-t .section .title span,
.main-t .section .title h4 {
	float: left;
	line-height: 44px;
}
.main-t .section .title span {
	margin: 0 5px;
}
.main-t .section .title h4 {
	font: 700 16px/44px "";
}
.main-t .section .contain {
	padding: 0 1px;
}
.main-t .section .contain a img {
	width: 238px;
}
.main-t .section .contain ul {
	width: 721px;
}
.main-t .section .contain li {
	float: left;
	width: 239px;
	height: 187px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: center;
	padding-top: 10px;
}
.main-t .section .contain li h3 {
	color: #333;
}
.main-t .section .contain li span.price {
	display: inline-block;
    margin-top: 5px;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    border-radius: 9px;
    background: #fb3c22;
    color: #fff;
}
.main-t .section .contain li img {
	position: relative;
	width: 100px;
}
.main .liquor {
	margin-bottom: 10px;
}
.main .liquor .title {
	height: 40px;
	border-bottom: 2px solid #C40000;
}
.main .liquor .title span {
	float: left;
    width: 28px;
    text-align: center;
    vertical-align: middle;
    font: 700 12px/22px "";
    color: #fff;
    background: #d00d0f;
    margin-right: 6px;
	
}
.main .liquor .title h2 {
	font-size: 16px;
}
.main .liquor .left {
	width: 319px;
}
.main .liquor .left .list {
	padding:20px 0 20px 20px;
	background: #FFF6E5;
	color: #ac6f05;
}
.main .liquor .left .list a {
	display: inline-block;
	width: 55px;
	text-align: center;
	line-height: 18px;
	color: #ac6f05;
}
.main .liquor .right {
	width: 881px;
}
.main .liquor .right ul {
	width: 100%;
}
.main .liquor .right li {
	float: left;
	height: 237px;
}
.main .liquor .slide {
	position: relative;
	width: 440px;
	height: 237px;
	overflow: hidden;
}
.main .liquor .right .imgWrap {
	position: absolute;
	width: 300%;
}
.main .liquor .five {
	width: 100%;
}
.main .liquor .five a {
	float: left;
}
.main .liquor .five .top a {
	height: 236px;
	margin-right: 4px;
}
.main .liquor .five .bottom {
	margin-top: 20px;
}
.main .liquor .six {
	width: 100%;
	border: 1px solid #ddd;
	-padding-bottom: 13px;
}
.main .liquor .six a{
	float: left;
	position: relative;
    overflow: hidden;
    width: 225px;
    height: 107px;
    margin:13px 0 0 13px;
}
.main .liquor .six a img {
	position: absolute;
	top: 0;
	left: 0;
}
/*图片闪光 开始*/
.shine {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.light{ 
	cursor:pointer; 
	position: absolute;
    width: 60px;
    height: 120%;
    top: 0;
    left: -130px;
    overflow: hidden;
	background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
	background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0)); 
	transform: skewx(-25deg); 
	-o-transform: skewx(-25deg); 
	-moz-transform: skewx(-25deg); 
	-webkit-transform: skewx(-25deg); 
} 
.light_now{ 
	left:350px; 
	-moz-transition:0.8s; 
	-o-transition:0.8s; 
	-webkit-transition:0.8s; 
	transition:0.8s; 
} 
/*图片闪光结束*/

 /*login *********************************************************************/
.login_head {
	width: 100%;
    height: 98px;
    border-bottom: 1px solid #c5c5c5;
    background: #fff;
}
 .login_head .logo {
 	float: left;
    margin-top: 20px;
 }  
 .login_head .login_line {
 	margin-top: 28px;
    height: 30px;
    line-height: 30px;
 }
.login_contain {
	position: relative;
 	height: 580px;
 	overflow: hidden;
 }
 .login_contain .bg {
 	z-index: -1;
 	position: absolute;
 	top: 0;
 	width: 2000px;
 	height: 1000px;
 	background: url(../img/login_bg.jpg);
 	
 }
 
.login_contain .mid {
	margin: 0 auto;
    width: 980px;
    
}
.login_contain .mid .loginFrom {
	overflow: hidden;
    padding: 70px 15px;
}
 .login_contain .mid .login_inner {
 	position: relative;
    width: 488px;
    height: 435px;
    background: #fff;
    border: 1px solid #c5c5c5; 
 }  
 
.login_inner .login_from {
	margin: 20px auto;
    width: 350px;
}
.login_inner .login_from .login_tit {
	margin-bottom: 30px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #000;
}
.loginCode .codeNum {
	position: relative;
	top: 3px;
	display: inline-block;
	line-height: 32px;
	height: 32px;
}
.mgnAuto .text_box,
.login_inner .login_from .text_box {
	position: relative;
    margin-top: -1px;
    width: 348px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #c5c5c5;
}
.login_inner .login_from .text_box input {
	width: 260px;
    border: none;
    height: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    background: transparent;
    vertical-align: middle;
    text-indent: 20px;
}
.login_inner .login_from .text_box i {
	display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 20px;
    width: 18px;
    height: 18px;
}
   
.login_inner .login_from .text_box .user {
    background: url(../img/loginIcon.gif) no-repeat -46px -2px;
}
.login_inner .login_from .text_box .pwd {
	background: url(../img/loginIcon.gif) no-repeat -72px -1px;
}
.login_inner .login_from .loginCode {
	margin-top: 7px;
    height: 32px;
    line-height: 32px;
}
.login_inner .login_from .loginCode input {
	width: 100px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border: 1px solid #c5c5c5;
    vertical-align: middle;
}
.login_inner .login_from .autoLogin {
	height: 54px;
    line-height: 54px;
    color: #999;
}
.login_inner .login_from .autoLogin input {
	vertical-align: middle;
    margin-right: 3px;
}
.login_inner .login_from .autoLogin a {
	color: #999;
}
.login_inner .login_from .loginBtn a {
	display: block;
    width: 348px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border: 1px solid #dc0014;
    background: #fe0a2e;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.9);
}
.login_inner .login_from .dashLine {
	margin-top: 30px;
	margin-left: -30px;
    background: url(../img/dashed_bg_06.gif);
    width: 432px;
    height: 7px;
}
.login_inner .login_from .otherLogin {
	margin: 10px auto;
    width: 350px;
}
.login_inner .login_from .otherLogin a {
	display: inline-block;
	width: 38px;
    height: 38px;
}
.login_inner .login_from .otherLogin .qq{
	background-position: -142px -4px;
    background: url(http://www.gjw.com/image/login/qq.png);
}
.login_inner .login_from .otherLogin .zhifubao {
	background-position: -246px -4px;
	background: url(http://www.gjw.com/image/login/zfb.png);
}
.login_inner .login_from .otherLogin .weixin {
	background-position: -246px -4px;
	background: url(http://www.gjw.com/image/login/ico38.png);
	border-radius: 38px;
}

.login_inner .login_from .resg {
	position: absolute;
    display: block;
    right: -1px;
    bottom: 0;
    width: 113px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    background: #D51101;
}
.login_foot {
	background: #F2F2F2;
	padding: 30px 0 10px 0;
	text-align: center;
}
.reg_box {
    margin-top: 24px;
    background: #fff;
    border: 6px solid rgba(199,199,199,0.7);
}
.tabForm {
	position: relative;
    float: left;
    width: 600px;
    height: 542px;
    overflow: hidden;
    border-right: 1px solid #dcdcdc;
} 
.reg_box .tabFrom_nav li {
	position: relative;
    float: left;
    width: 257px;
    height: 23px;
    text-align: center;
    font-size: 14px;
}
.reg_box .tabFrom_nav li .icon {
	display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    width: 17px;
    height: 20px;
}
.reg_box .tabFrom_nav {
	height: 35px;
    width: 515px;
    margin: 33px auto 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
   
.reg_box .tabFrom_nav li .mobileIcon {
	width: 15px;
	height: 24px;
	background: url(../img/loginIcon.gif) no-repeat -387px -5px;
}
.reg_box .tabFrom_nav li .malieIcon {
	width: 20px;
	background: url(../img/loginIcon.gif) no-repeat -413px -5px;
}
.reg_box .tabFrom_nav li:first-child .actBd {
	display: block;
}
.reg_box .tabFrom_nav li .actBd {
	display: none;
	position: absolute;
    left: 0;
    bottom: -33px;
    width: 100%;
    height: 7px;
    background: url(../img/loginIcon.gif) no-repeat left -37px;
}
.formBox {
	position: absolute;
    width: 200%;
    left: 0;
}
.tabForm form {
	width: 600px;
    padding-top: 34px;
}
form .mgnAuto {
	width: 350px;
    margin: 0 auto;
}

.mgnAuto .text_box label {
	display: inline-block;
    margin-left: 18px;
    color: #969696;
    vertical-align: middle;
}
.mgnAuto .text_box input {
	width: 260px;
    border: none;
    height: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    background: transparent;
    vertical-align: middle;
    text-indent: 20px;
}
.mgnAuto .mgTop12 {
	margin-top: 12px;
}
 .mgnAuto .text_box .error {
 	display: none;
 	position: absolute;
    right: 10px;
    bottom: 0;
    color: #a94442;
    height: 52px;
    line-height: 52px;
 }  
 .mgnAuto .codeText_s {
 	width: 169px;
 }
.regCodeBtn {
	margin-left: 12px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    border: 1px solid #ddd;
    padding: 0px 8px;
    color: #646464;
}
.text_box .mobileIcon {
	position: relative;
	top: 8px;
	display: inline-block;
    width: 15px;
    height: 24px;
    margin-left: 20px;
    background: url(../img/loginIcon.gif) no-repeat -387px -5px;
}
.mgnAuto .text_box .codeText {
	margin-left: 5px;
    vertical-align: middle;
    width: 103px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #ddd;
    text-indent: 0;
    text-align: center;
    color: #646464;
}
    
.mgnAuto .xieyi {
	height: 40px;
    line-height: 40px;
}
.mgnAuto .regBtn {
	display: block;
    width: 348px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #a8221f;
    border-radius: 2px;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.9);
    background: #FC4B49;
}
    
b.red {
	color: #C40000;
}
.reg_mid .adBox {
	margin-top: 83px;
    margin-left: 35px;
    width: 300px;
    height: 356px;
    text-align: center;
}
.reg_mid .adBox img {
	width: 300px;
    height: 356px;
}
.codeBox {
	line-height: 52px;
}
.codeNum {
	width: 80px;
	height: 52px;
	font: 24px/52px "";
	text-align: center;
} 
.errorImg {
	display: inline-block;
    margin-top: -3px;
    margin-right: 3px;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    background: url(../img/loginIcon.gif) no-repeat -16px -22px;
}
    
    
   
    
    
   
    

    
    
   
    
   
   